.texto2__boton{
    
    padding: 10px;
    background-color: rgba(162, 189, 48, 1);
    border-radius: 41px;
    border-color: rgb(238, 182, 182);
    color: rgba(0, 54, 137, 1);
    font-weight: 600;
    
}